

@font-face {

  font-family: 'BreeSerif-Regular';
  src: url('./fontes/Bree_Serif/BreeSerif-Regular.ttf') format('truetype'); 
}

@font-face {

  font-family: 'Lora-Regular.ttf';
  src: url('./fontes/Lora/static/Lora-Regular.ttf') format('truetype'); 
}

@font-face {

  font-family: 'Inter-Regular.ttf';
  src: url('./fontes/Inter/static/Inter-Regular.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Asap-Regular';
  src: url('./fontes/Asap/Asap-Regular.ttf') format('truetype'); 
}


*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}




/*Por hora pra poder pelo menos organizar*/
/*----------------------------------MENU HEADER COMEÇO-------------------------*/
.h1Login{
  text-align: center;
  color: white;
}

a { 
  color: #fff;
  text-decoration: none;

}




nav:not(.UsuNav) {


    display: flex;
    justify-content: baseline;
    align-items: center;
    font-family: 'BreeSerif-Regular';
    background: #252525;
    width: 100%;
    height: 10vh;
    z-index: 2;
    


}

.loginHome:hover{
  color: #338BB0;
}

.btnCadastro{
  width: 20vh;
  height: 5vh;
  margin-right: 20px;
  color: #ffffff;
  background-color: #434343;
  border: black;
  border-radius: 8px;
  font-size: 2vh;
  font-family: 'BreeSerif-Regular';
}

.btnCadastro:hover{

  color: #338BB0;
  transition: 0.1s;
  cursor: pointer;
  background-color: #ffffff;
}



#logcad{
position:absolute;
right: 15vh;
font-size: 2vh;
}


main {
  background-color: aliceblue;
  background-size: cover;
  
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  display: flex;
  margin-right: 20px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu .divMenu {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

/*responsividade aqui*/

@media (max-width: 120vh) /*coloquei em vh já que é essa a metrica que a gente ta usando*/ {
  body {
    overflow-x: hidden;

  }


 #miranhatrem{
  flex-direction: column;
  align-items: center;
  
 }
 .responsivoDenuncie{
  flex-direction: column;
  align-items: center;
 }
 article:not(#arti){
  margin: 10px;
 }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
    
  }
  .mobile-menu {
    display: block;
  }

}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.imgLogo{
  display: flex;
  min-width: 20vh;
  min-height: 20vh;
  padding: 20px;
 
}
.imgLogo:hover{
  transition: 0.1s;
  fill: #338BB0;
}



/*----------------------------------MENU HEADER FIM----------------------------*/

/*--------------------------------FULLSCREEN HOME-------------------------*/

.container-fullscreen{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  flex-direction: row;
}

.quadradoazul{
  background-color: #338BB0;
  width: 100%;
  
}

.fullscreen{
  margin-top: -4vh;
  width: 100%;
  text-align: center;


}

.fullscreen2{
  margin-top: -43vh;
  margin-left: 9vh;
}

.h1Fullscreen2{
  color: white;
  font-family: 'BreeSerif-Regular';
  font-size: 4vh;
  text-decoration: underline white;
}


.fullscreen3{

  margin-top: -43vh;
  margin-right: 13vh;
}

.h2Fullscreen{
 
  color: white;
  font-family: 'BreeSerif-Regular';
  font-size: 2.4vh;
  font-weight: 500;
  


}

.h2Fullscreen2{
  color: white;
  font-family: 'BreeSerif-Regular';
  font-size: 2.4vh;
  font-weight: 500;
  
}


.h1Fullscreen{
  text-align: center;
  color: white;
  font-family: 'BreeSerif-Regular';
  font-size: 4vh;
}

.h1Fullscreen3{
  color: white;
  font-family: 'BreeSerif-Regular';
  font-size: 4vh;
  text-decoration: underline white;
}



.container-textoDireita{
  display: flex;
  justify-content: flex-end;
}

.container-textoEsquerda{
  display: flex;
  justify-content: flex-start;
}

.logoFullscreen{
  height: 50vh;
  width: 50vh;
}


/*---------------------------------CORPO COMEÇO-------------------------------*/
article:not(#arti){
  display: flex;
  flex-direction:  column;
  border-radius: 7px;
  background-color: #ffffff;
  width: 80vh;
  font-size: 1.2vh;
  margin: 2vh;
  
}


article h1{
  color: rgb(66, 66, 66);
  text-align: center;
  font-size: 5vh;
  font-family: Constantia;
}


.textoProvisorio{
  margin: 200px;
}


#miranhatrem{
 display: flex;
 margin:  15vh 5vh 10vh 5vh;
}

article{
  border: 1px solid rgb(163, 163, 163);
}









#arti{
  border-radius: 7px;
  background-color: #ffffff;
  width: 80vh;
  font-size: 1.2vh;
  min-height: max-content;
  padding: 5vh;
  margin: 2vh;
  box-shadow: 0px 0px 7px;
}




.comentario{
  color: white;
  font-size: 1.5vh;
  background-color: #338BB0;
  position: relative;
  width: 44.2vh;
  height: 3vh;
  top: -17vh;
  left: 22.9vh;
}
.comentarios{
  width: 10vw;
  height: 10vh;

}

.inpComentario{
  background-color: #ffffff;
  border: transparent;
  color: black;
  position: relative;
  width: 40vh;
  height: 2vh;
  top: -20vh;
  left: 23.5vh;
  border-radius: 5px;

}

.inpComentario:hover{ 
  transition: 0.1s;
  width: 40.46vh;
  height: 2.46vh;
}


.inpComentario::placeholder{
  color: #9E9D9D;
  font-size: 1.6vh;

}

.containerSobre{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobreNos{
  border: 1px solid rgb(163, 163, 163);
  border-radius: 7px;
  width: 95%;
  background-color: #ffffff;  
}



.tituloSobre{

  font-size: 4vh;
  font-family: 'BreeSerif-Regular'; 
  font-weight: 400;
  margin-top: 3vh;
  padding: 3vh;
    
}

.textoSobre{
  padding: 3vh;
  font-family: 'BreeSerif-Regular';
  font-size: 2.3vh;
  font-weight: lighter;
}

.h1Inst{
  font-family: 'BreeSerif-Regular';
  font-size: 4.5vh;
}

/*-------------------------------------CORPO FIM------------------------------*/

/*----------------------------------FOOTER COMEÇO--------------------------*/
.container{
  display: flex; 
  width: 100%;
  background-color: #252525;
  color: aliceblue;
  font-size: 2.1vh;
  font-family: 'BreeSerif-Regular';
  margin-top: 10vh;
}

.container ul{
  list-style: none;
  padding: 50px;
}


ul li a {
  
  color: white;
  font-size: 2vh;
  text-decoration: none;
  margin-right: 5vh;
}

ul li a:hover {
  color: #338BB0;

}


.xd {
  color: #717171;
}

.item4 img {
  width: 40px;
}

.item4 ul li {
  display: inline-block;
  margin: 2px;
}

.logoFooter{  
  font-size: 24px;
  letter-spacing: 2px;

}

.logoFooter:hover{
color: #52c7a6;
transition: 0.3s;
cursor: pointer;
}

.inpFiltro{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 75vh;
  height: 4vh;
  font-size: 1.7vh; 
  padding: 1vh;
  border-radius: 10px;
  border: 2px solid #ffffff;
  background-color: #52C7A6;
  color: white;
  margin-top: 1.5vh;
}

.inpFiltro:hover{
  transition: 0.1s;
  height: 4.3vh;
  width: 75.7vh;
}

.inpOrg{
  justify-content: center;
  align-items: center;
  width: 75vh;
  height: 4vh;
  font-size: 1.7vh; 
  padding: 1vh;
  border-radius: 10px;
  border: 2px solid #ffffff;
  background-color: #52C7A6;
  color: white;

}

.inpOrg:hover{
  transition: 0.1s;
  height: 4.3vh;
  width: 75.7vh;
}

.inpOrg::placeholder{
  color: #ffffff;
}

.inpFiltro::placeholder{
  color: white;
}
.acompanhar{
  display: flex;
  justify-content: center;
 
}
.h1acompanhar{
  text-align: center;
  color: white;
  width: 60vh;
  height: 5vh;
  border-radius: 10px;
  margin: 200px;
  background-color: #338BB0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
  font-size: 3vh;
  font-family: 'BreeSerif-Regular';
}

.h1acompanhar:hover{
  color: #c5c9d1;
  transition: 0.2s;
}

.filtrar{
  color: black;
  width: 145vh;
  height: 8vh;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  position: relative;
  top: -15vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  
}

.filtrar label{
  width: 15vh;
  height: 5vh;
  margin-right: 20px;
  color: #ffffff;
  background-color: #338BB0;
  border: black;
  border-radius: 8px;
  font-size: 2vh;
  font-family: 'BreeSerif-Regular';
  text-align: center;
  
}

.filtrar label:hover{
  cursor: pointer;
  background-color: #52C7A6;
  transition: 0.1s;
}

.labelBairro{
  margin-left: 5vh;
}

.btnFiltrar{
  width: 15vh;
  height: 5vh;
  margin-right: 20px;
  color: #ffffff;
  background-color: #338BB0;
  border: black;
  border-radius: 8px;
  font-size: 2vh;
  font-family: 'BreeSerif-Regular';

  margin-left: 95vh;

  
}

.btnFiltrar:hover {
  color: #ffffff;
  background-color: #52C7A6;
  transition: 0.1s;
  cursor: pointer;
} 


.slctFiltro{
  
  font-size: 1.5vh;
  position: relative;
  left: 1vh;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 200px;
  font-family: Arial, sans-serif;
  font-size: 1.5vh;
  color: #333;
}
.slctFiltro option{
  background-color: #fff;
  color: #333;
  padding: 8px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.slct1{
    padding: 1vh;
    font-size: 1.7vh;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    margin-left: 3vh;
}
.slct1 option {
  padding: 1vh;
  background-color: #e7e6e6;
  
}

.organizar{
  margin-top: -8vh;
  margin-left: 3vh;
}


.organizarpor{
  margin-left: 26vh;

}
/*----------------------------------FOOTER FIM--------------------------*/

/*----------------------------------ROTA DENUNCIE AQUI----------------------------*/
.labelForm{
  font-size: 2.3vh;
  width: 70vh;
  height: 4vh; 
  padding: 0.3vh;  
  position: relative;
  right: -0.7vh;
  display: flex;
}


.btnForm{
  width: 12vh;
  height: 5vh;
  margin-right: 20px;
  color: #ffffff;
  background-color: #338BB0;
  border: black;
  border-radius: 8px;
  font-size: 2vh;
  font-family: 'BreeSerif-Regular';
  margin-top: 2vh;
  margin: 1vh;

 
} 

.btnForm:hover{
  transition: 0.1s;
  background-color: #52C7A6;
  cursor: pointer;
}

.btnImg{
  color: red; /*sapoha so ta indo no texto */
}


.inpForm {
  border: 1px solid black;
  border-radius: 3px;
  width: 20vh;
  height: 2.5vh;
  position: relative;
  right: -0.5vh;
}

.inpForm:hover{
  transition: 0.1s;
  width: 20.4vh;
  height: 2.8vh;
}


.centralizafdp{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.bordinhaDen{
  margin-top: 15vh;
  background-color: #338BB0;
  border-radius: 6px;
  color: white;
  justify-content: center;  
  height: 6vh;
  width: 65vh;

} 


.h1Denuncie{ /* outra rota!!! cuidado com o ctrl f ai parcero */
  color: #ffffff; 
  text-align: center;
  justify-content: center;
  font-size: 4vh;
  font-family: 'BreeSerif-Regular';
  text-align: center;
}


.cadastroDen{
  background-color: #ffffff;
  width: 130vh;
  height: 63vh;
  margin: 0 auto;
  margin-top: 5vh;
  border: 1px solid black;
  border-radius: 10px;  
  font-family: 'BreeSerif-Regular';
}

.cadastroDen img {
  width: 10vh;
  height: 10vh;
}

.cadastroDen .inpForm {
  background: transparent;
  outline: none;
  margin-bottom: 1.1vh;
  border: 0px;
  border-bottom: 1px solid black;
  font-size: 1.9vh;
}

.cadastroDen h3{
  font-size: 2.5vh;
  font-weight: normal;
}



/*
.log1 .box-user input{
  width: 100%;
  padding: 10px 0;
  outline: none;
  border: 0;
  background: transparent;
  border-bottom: 1px solid #000000;
  color: #000000;
  font-size: 16px;
  margin-bottom: 30px;
}
*/

.btnForm {
  font-size: 1.5vh;
}

.slctDenuncia {

  width: 24vh;
  height: 3vh;
  position: relative;
  right: -0.5vh;
}

.slctDenuncia:hover {
  width: 24.4vh;
  height: 3.4vh;
  transition: 0.1s;
}




/* Acompanhar denúncias */

.btnTarefa{
  background-color: white;
  border: solid 1px black;
  border-radius: 10px;
  padding: 6px;
  font-size: 1.7vh;
  color: #464646;
  display: flex;

}

.btnTarefa:hover{
  background-color: #52C7A6;
  border: transparent;
  border-radius: 10px;
  padding: 6px;
  font-size: 1.7vh;
  color: white;
  transition: 0.1s;
  cursor: pointer;
  
}

.Tarefa{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0 ;
  right: 0;
  background: rgb(0, 0, 0, 0.7);
  z-index: 2;

}

.Tarefa1{
  
  margin-top: 50vh;
  margin-left: 100vh;
  transform: translate(-50%, -50%);
  height: 12vh;
  width: 56vh;
  background: #fff;
  border-radius: 5px;
}

.h1Tarefa {
  margin-top: 40px;
  margin-left: 10px;
  font-size: 2.5vh; 
  
}

.btnSair{
  background-color: transparent;
  font-size: 1.9vh;
  transition: 0.4s;
  border: solid 1px black;
  border-radius: 5px;
  width: 2.5vh;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  margin-left: 52.8vh;
  margin-top: -2.6vh;
}

.btnSair:hover{
  border: transparent;
  background-color: #52C7A6;
  color: white;
}

.btnSim{
  border: transparent;
  background-color: transparent;
  color: #1a73e8;
  cursor: pointer;
  font-size: 2.2vh;
  margin-top: 5.2vh;
  margin-left: 1.8vh;
}

.btnSim:hover{
  background-color: #1a73e841;
  transition: 0.1s;
}

.btnNao{
  border: transparent;
  background-color: transparent;
  color: #1a73e8;
  cursor: pointer;
  font-size: 2.2vh;
  margin-left: 31vh;
}

.btnNao:hover{
  background-color: #1a73e841;
  transition: 0.1s;
}



/*--------------------------------------------------------ROTA LOGIN-------------------------------------------*/
.bodi{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

 
}
.log1{
  background:#ffffff;
  color: black;
  border-radius: 10px;
  width: 65vh;
  padding: 10vh;
  box-shadow: 0px 0px 7px;
  font-family: 'BreeSerif-Regular';
}

.log1:hover{
  box-shadow: 0px 0px 7px #338BB0;
  transition: 0.1s;
}


.log1 h2{
  margin-bottom: 12vh;
  font-size: 5vh;
  color: #000000;
  text-align: center;
  background-color: #338BB0;
  border-radius: 6px;
  color: white;
}
.log1 .box-user{
  position: relative;
}
.log1 .box-user input{
  width: 100%;
  padding: 10px 0;
  outline: none;
  border: 0;
  background: transparent;
  border-bottom: 1px solid #000000;
  color: #000000;
  font-size: 16px;
  margin-bottom: 30px;
}
.log1 .box-user label{
  position: absolute;
  top: -4.5vh;
  transition: 0.5s;
  left: 0;
  padding: 10px 0;
  font-size: 2.5vh;
}

.log1 .box-user input:valid~label
{
  top: -20px;
  left: 0;
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.for1{
  font-size: 2vh;
  float: right;
}
.butao1{

  width: 15vh;
  height: 5vh;
  margin-right: 20px;
  color: #ffffff;
  background-color: #338BB0;
  border: black;
  border-radius: 8px;
  font-size: 2vh;
  font-family: 'BreeSerif-Regular';
  margin-top: 2vh;
  text-align: center;
  
}

.butao1:hover{
  background: #52C7A6;
  cursor: pointer;
  transition: 0.1s;
  
}



.linkCadastro{
  color: black;
  float: right;
  transition: 0.1s;
  font-size: 2.5vh;
}

.linkCadastro:hover{
  color: #338BB0;
  font-size: 2.65vh;

}

/*------------------------------COMENTARIOS------------------------ */

.Coment{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0 ;
  right: 0;
  background: rgb(0, 0, 0, 0.7);
  z-index: 1000 ;
  font-family: 'BreeSerif-Regular';
}

.Coment1{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  background: #fff;
  border-radius: 5vh;
}

.ComH1 {
  position:relative;
  align-items: center;
  font-size: 5vh;
  font-family: 'BreeSerif-Regular';
  background-color: #338BB0;
  color: white;
}


.btnCom {
  background: #52C7A6;
  border-radius: 5px;
  color: #ffffff;
  width: 5vh;
  height: 5vh;
  transition: 0.18s;
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  bottom: 45vh;
  left: 80vh;
  position: relative;
}

.btnOpen {
  
  width: 15vh;
  height: 5vh;
  margin-right: 20px;
  color: #ffffff;
  background-color: #338BB0;
  border: black;
  border-radius: 8px;
  font-size: 2vh;
  font-family: 'BreeSerif-Regular';
  margin-top: 2vh;
}

.btnOpen:hover{
  transition: 0.1s;
  cursor: pointer;
  background-color: #52C7A6;
}

/* ---------------------------------- PLANEJAR SOLUÇÃO ------------------------------------------------------------------------- */
.solucao{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0 ;
  right: 0;
  background: rgb(0, 0, 0, 0.7);
  z-index: 1000;
}
.solucao1{
  margin-top: 10vh;
  margin-left: 35vh;
  transform: translate(-50%, -50%);
  background: #fff;
  height: 60vh;
  width: 150vh;
  border-radius: 5px;
}
.h1Solucao{
  align-items: center;
  margin-top: 40px;
  margin-left: 10px;
  font-size: 5vh; 
 
}
.h5Solucao{
  align-items: center;
  margin-top: 40px;
  margin-left: 10px;
  font-size: 3.5vh; 
}
.btnEnviarP{
  background-color: white;
  border: solid 1px black;
  border-radius: 10px;
  padding: 6px;
  font-size: 2vh;
  color: #464646;
  display: flex;
  width: 50px;
  height: 30px;
  margin-top: 35vh;
  margin-left: 2vh;
}
.btnEnviarP:hover{
  background-color: #52C7A6;
  border: transparent;
  border-radius: 10px;
  padding: 6px;
  font-size: 2.5vh;
  color: white;
  transition: 0.1s;
  cursor: pointer;
  width: 65px;
  
}
.inpP{
  border: 0px solid black;
  border-bottom: 1px solid black;
  outline: none;
    width: 50vh;
    height: 3vh;
    position: relative;
    margin-top: 60px;
    margin-left: 7px;
}
.btnSairP{
  background: #52C7A6;
  border-radius: 5px;
  color: #ffffff;
  width: 5vh;
  height: 5vh;
  transition: 0.18s;
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  margin-left: 144vh;
  margin-top: -15vh;

}

/*report-----------------------------------------------------------*/

.Report{
  z-index: 1;
  color: #fff;
  background: linear-gradient(to top, rgb(0, 0, 0), rgb(73, 73, 73));
  max-width: fit-content;
  border: double 3px rgb(255, 186, 13);
  font-family: system-ui;
}

.Report select {
  max-width: max-content;
 
}


.Report input {
  padding: 0px 10px 0px 10px;
  margin-top: 10px;
  margin-right: 10px;
  color:white;
  background-color: inherit;
  border: 2px white solid;
  cursor: pointer;
}

.Report button{
  height: max-content;
  width: 20px;
  float: right;
  color: white;
  background-color: red;
  border-style: none;
  cursor:pointer;
}

.conteudo{
  padding: 10px 10px 10px 10px;
}
#btnrep{
  color:red;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  padding: 5px;
  transition: 0.2s;
}
#btnrep:hover{
  color:white;
  background:red;
}



/* ROTA ADM*/

#logcad P {
  color: #338BB0;
}
.nav-listADM {
  list-style: none;
  display: flex;
  flex-direction: row;
  
}

.nav-listADM li {
  display: flex;
  margin-right: 20px;
  cursor: pointer;
}

.nav-listADM li a:hover{
  color: #a19d9d;
}

/* ----------------------------------ROTA GERENCIADOR------------------------------------ */

.Gerbodi{
  display: block;
  
}


#Gerenciador{
  display: flex;
  flex-direction: column-reverse;
  margin: 10vh auto 10vh auto;  /*colocando display block e margin auto centraliza o elemento automaticamente*/
  background: white;
  border: solid #252525 1px ;
  height: 80vh;
  /*limite de tamanho da tela, se diminuir menor que isso não adapta, */
  max-width:80%;
  
}

.GerPesquis{/*só ta responsivo por causa desse carinha e do justify content pra alinhar o conteudo pro final dele*/
  display: flex; 
  justify-content: end;
  background: #252525;
  width: 100%;

 
}
.GerPesquis input{
  width: 115vh;
  height: 4vh;
  margin: 1vh;

}
#GerConteud{
  /*onde fica a filtração e as denuncias/comentarios reportados*/
  padding: 10px; 
  
  
}
@media (max-width: 150vh){
  #Gerenciador{
    width: 100%;

  }
  #menulateral{
    width: 40%;
   }

   .Filtrar select{
    width: 80%;
   }
}


#menulateral h3{
  background-color:#909090;
  font-size: 2.2vh;
  color: #252525;
  margin-bottom: 1vh;
  font-family: system-ui ;
  padding: 1vh;
  
}
#menulateral{
  background-color: #e8e8e8;
  height: inherit;
  font-family: system-ui ;
  font-style: normal;
  max-width: 35vh;
  

}
.Filtrar{
  font-family: system-ui ;
  font-style: normal;
  margin: 1vh;
  
}

.Filtrar select{
  max-width: 40vh;
  font-size: auto;
}

/*Arrumar alguma forma de colocar o footer ali embaixo independendo do tamanho do corpo da pagina*/
/*comando pra deletar o token */




/*rota Usuarios Home-----------------------------------------------*/

#LogUsu{ 
  position:fixed;
  top: 2vh;
  right: 2vh;
  border-radius: 20vh;
  border: solid grey 2px;
  width: 6vh;
  height: 6vh;
  background: #84CDEC;
  font-size: 3.5vh;
  text-align: center;
 
}

.xdUsu{
  text-align: center;

}

.sininho{
  width: 6vh;
  height: 6vh;
  position: fixed;
  top: 2vh ;
  right: 10vh;
}

.artiUsuario{
    border-radius: 7px;
    background-color: #ffffff;
    width: 80vh;
    font-size: 1.2vh;
    min-height: max-content;
    padding: 5vh;
    margin: 2vh;  
    overflow: auto;
    max-height: 400px;

} 


.h1Usu{
  white-space: nowrap;
  color: white;
  border-radius: 9px;
  font-size: 3vh;
  height: 6vh;
  padding: 1vh;

}

.h2Usu{
  text-align: center;
  font-size: 2.3vh;
  margin: 2vh;
}

.bordinhaUsu{
  background-color: #338BB0;
  border-radius: 7px;

}

.h3Den{
  font-size: 2.4vh;
  text-align: right;
  
}

.linkVermais{
  color: black;
}

.linkVermais:hover{
  transition: 0.1s;
  color: #52C7A6;
  font-size: 2.5vh;
}

.containerUsu{
  display: flex;
  flex-direction: row; /*como ficará os elementos, em linha, coluna, etc */
  flex-wrap: wrap; /* quebrar a linha quando não couber */
  justify-content: space-evenly;
}

.containerH1{
  display: flex;
  flex-wrap: wrap;

}


.denunciasUsu{

  margin: 2vh;
}

.imgUsu{
  width: 15vh;
  height: 15vh;
  border-radius: 15px;
  margin-top: 5vh;
  
}


