

@font-face {

  font-family: 'BreeSerif-Regular';
  src: url('./fontes/Bree_Serif/BreeSerif-Regular.ttf') format('truetype'); 
}

@font-face {

  font-family: 'Lora-Regular.ttf';
  src: url('./fontes/Lora/static/Lora-Regular.ttf') format('truetype'); 
}

@font-face {

  font-family: 'Inter-Regular.ttf';
  src: url('./fontes/Inter/static/Inter-Regular.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Asap-Regular';
  src: url('./fontes/Asap/Asap-Regular.ttf') format('truetype'); 
}


*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}




/*Por hora pra poder pelo menos organizar*/
/*----------------------------------MENU HEADER COMEÇO-------------------------*/

.slideDen{
  background-color: green;
}