body{
  background-color: #C3D5DD;
  
}

*{
  margin:0px;
  padding:0px;
}

.h1Teste{ 
  text-align: center;
}

.h1Login{
  text-align: center;
  color: white;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
  color: #52C7A6;
}

.logo {
  font-size: 24px;
  letter-spacing: 4px;
}

.logoFooter{  
    font-size: 24px;
    letter-spacing: 2px;

}

.logoFooter:hover{
  color: #52c7a6;
  transition: 0.3s;
  cursor: pointer;
}

nav {

    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    width: 100%;
    height: 10vh;
    z-index: 2;


}


main {
  background-color: aliceblue;
  background-size: cover;
  
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-left: 38px;
}

.liMenu {
  position: relative;
  left: -250px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu .divMenu {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

article{
  display: flex;
  flex-direction:  column;
  padding: 50px;  
  border-radius: 10px;
  background-color: #ffffff;
  max-width: auto;
  max-height: auto;
  font-size: 1.2vh;
  height: 400px;
}

article h1{
  color: rgb(66, 66, 66);
  text-align: center;
  font-size: 34px;
  font-family: Constantia;
}

.articleProvisorio{
  width: 500px;
  height: 550px;
  background-color: #ffffff;
  text-align: center;
  
}

.textoProvisorio{
  margin: 200px;
}

.artiDenuncia {
  height: 100vh;
  width: 85vh;
  position: relative;
  top: 110px;
  left: 20px;

  
}

.artiFiltro {
  width: 70vh;
  height: 50.8vh;
  margin-top: -5.7vh;
  background-color: rgb(255, 255, 255); 
  white-space: nowrap;
  max-width: auto;
  max-height: auto;
}
.lupaFiltro {
  width: 10vh;
  position: relative;
  right: -60vh;
  top: -7.2vh;
}

.lupaOrg {
  width: 10vh;
  position: relative;
  right: -4vh;
  top: -8.3vh;
}

.divArticles{
  display: flex;
  flex-direction: column-reverse;
  float: right;
  position: relative;
  top:-740px;
  right: -8vh;

}

.artiOrg {
  height:fit-content;
  margin-top: 17px;
  width:70vh;
  height: 34vh;
  display: block;
  background-color: rgb(255, 255, 255);
}


.h1Org{
    margin: 10px;
    position: relative;
    top: -50px;
    white-space: nowrap;
    text-align: center;
    color: black; /*PRETO temporariamente, mudar pra branco depois */
}

.subtituloOrg {
  font-size: 14px;
  white-space: nowrap;
  position: relative;
  top: -50px;
  text-align: center;
}


.imgArt{
  width: 15vh;
  height: 15vh;
  border-radius: 15px;
  position: absolute;  
  top: 255px;
}


.imgLogo{
  position: relative;
  top: 8px;
  width: 30vh;
  height: 15vh;
  left: -125px;
}

.imgLogofooter{
  position: relative;
  top: 8px;
  width: 50vh;
  height: 30vh;

}

.logo:hover{
  color: #52C7A6;
}


label{
  display: flex;
}

.btnDenuncia {
  width: 120px;
  top: 370px; 
  border-radius: 15px;
  position: absolute;
}

.btnDenuncia:hover {
  color: #000000;
  background-color: #9E9D9D;
  transition: 0.4s;
} 

.denunciasTrending{
    margin: 15px;
    white-space: nowrap;
    text-align: center;
    color: black; /*PRETO temporariamente, mudar pra branco depois */
}

.tituloDenuncia{
  font-size: 24px;
}

.subtituloDenuncia{
  margin: 15px;
  font-size: 24px;
  position: relative;
  text-align: center;
  color: #84CDEC;
}


.textoDenuncia{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    word-break: keep-all;
}

.tituloInst{
  white-space: nowrap;
}

.container{
  display: flex; 
  width: 100%;
  background-color: black;
  color: aliceblue;
  font-size: 20px;
  
}

ul{
  list-style: none;
  padding: 50px;
}


ul li a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

ul li a:hover {
  color: #84CDEC;
}

.xd {
  color: #717171;
}

.item4 img {
  width: 40px;
}
.item4 img:hover{
  color: #84CDEC;
  background-color: white;
  cursor: pointer;
}

.item4 ul li {
  display: inline-block;
  margin: 2px;
}

.btnCadastro{
    width: 120px;
    height: 19px;
    color: #ffffff;
    background-color: #434343;
    border: black;
    border-radius: 8px;
    font-size: 15px;
    letter-spacing: 1px;
}

.btnCadastro:hover{
  color: #84CDEC;
  transition: 0.4s;
  cursor: pointer;
}

.inpFiltro{ 
  width: 450px;
  height: 30px;
  font-size: 2.5vh; 
  padding: 0 0 0 15px;
  border-radius: 20px;
  background-color: #52C7A6;
  color: white;
  margin-top: -30px;
}
.inpFiltro::placeholder{
  color: white;
}

.inpOrg{ 
  position: relative;
  top: -98px;
  width: 450px;
  height: 30px;
  right: -40px;
  font-size: 2.5vh; 
  padding: 0 0 0 15px;
  border-radius: 20px;
  background-color: #52C7A6;
  color: white;
  margin-top: -30px;
  
}
.inpOrg::placeholder{
  color: white;
}