body{
  background-color: #C3D5DD;
  
}

*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}


/*Por hora pra poder pelo menos organizar*/
/*----------------------------------MENU HEADER COMEÇO-------------------------*/
.h1Login{
  text-align: center;
  color: white;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
  color: #338BB0;
}

.logo {
  font-size: 24px;
  letter-spacing: 4px;
}


nav:not(#logcad) {

    position: fixed;
    display: flex;
    justify-content: baseline;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    width: 100%;
    height: 10vh;
    z-index: 2;
    top: 0vh;


}

.btnCadastro{
  width: 20vh;
  height: 5vh;
  margin-right: 20px;
  color: #ffffff;
  background-color: #434343;
  border: black;
  border-radius: 8px;
  font-size: 2vh;
  
}

.btnCadastro:hover{

color: #338BB0;
transition: 0.4s;
cursor: pointer;
}
#logcad{
position:absolute;
right: 15vh;
font-size: 2vh;
}
main {
  background-color: aliceblue;
  background-size: cover;
  
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  display: flex;
  margin-right: 20px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu .divMenu {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
 #miranhatrem{
  flex-direction: column;
  align-items: center;
  
 }
 article:not(#arti){
  margin: 10px;
 }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
    
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.imgLogo{
  display: flex;
  min-width: 20vh;
  min-height: 20vh;
  padding: 20px;
}

/*----------------------------------MENU HEADER FIM----------------------------*/

/*---------------------------------CORPO COMEÇO-------------------------------*/
article:not(#arti){
  display: flex;
  flex-direction:  column;
  border-radius: 10px;
  background-color: #ffffff;
   width: 80vh;
  font-size: 1.2vh;
  margin: 2vh ;
}


article h1{
  color: rgb(66, 66, 66);
  text-align: center;
  font-size: 34px;
  font-family: Constantia;
}


.textoProvisorio{
  margin: 200px;
}


#miranhatrem{
 display: flex;
 margin:  15vh 5vh 10vh 5vh;
}

.artiFiltro {
  width:70vh;
  height: 48vh;
  background-color: rgb(255, 255, 255); 
  white-space: nowrap;
}

.artiOrg {
  height:fit-content;
  margin-top: 20PX;
  width:fit-content;
  min-height: 34vh;
  display: block;
  background-color: rgb(255, 255, 255);
  padding: 2vh;
  position: relative;
  right: 0vh;

}


.h1Org{
    color: white;
    border-radius: 9px;
    width: 76vh;
    font-size: 4.5vh;
}

.subtituloOrg {
  font-size: 2vh;
  white-space: nowrap;
  text-align: center;
}

.bordinha{
  background-color: #338BB0;
  border-radius: 7px;
  color: white;
}


.imgArt{
  width: 15vh;
  height: 15vh;
  border-radius: 15px;
  margin-top: 5vh;
 
}

.logo:hover{
  color: #52C7A6;
}

label{
  display: flex;
}
.btnDenuncia{
  border-radius: 5px;
  border: 1px solid black;
  width: 15vh;
  height: 2.5vh;
  margin-top: 1vh;
  font-size: 2vh;
}

.btnDenuncia:hover{
  width: 16vh;
  height: 4vh;
  transition: 0.1s;
  background-color: #52C7A6;
  color: white;
  border: none;
  cursor: pointer;
}

.h1Den{
  background-color: #338BB0;
  color: white;
  border-radius: 9px;
  width: 70vh;
  font-size: 4.5vh;
}

.tituloden{
  background-color: #338BB0;
  color: #ffffff;
  width: 25vh;
  height: 3vh;
  border-radius: 6px;
  text-align: center;
}

.subtituloDenuncia{
  margin: 15px;
  font-size: 24px;
  text-align: center;
  color: #84CDEC;
}

.textoDenuncia{

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    word-break: keep-all;
}

.tituloInst{
  white-space: nowrap;
}
#arti{
  border-radius: 10px;
  background-color: #ffffff;
  width: 80vh;
  font-size: 1.2vh;
  min-height: max-content;
  padding: 5vh;
  margin: 2vh;
}



.tituloden{
  position: relative;
  left: 33vh;
  top: -19vh;
  font-size: 2.4vh;
}
.descricaoden{
  position: relative;
  left: 23vh;
  top: -18vh;
  font-size: 1.6vh;
}

.subtituloden{
  position: relative;
  left: 17vh;
}
.comentario{
  color: white;
  font-size: 1.5vh;
  background-color: #338BB0;
  position: relative;
  width: 44.2vh;
  height: 3vh;
  top: -17vh;
  left: 22.9vh;
}
.comentarios{
  background-color: #52C7A6;
  font-size: 1.2vh;
  position: relative;
  width: 44.2vh;
  height: 9.4vh;
  top: -17vh;
  left: 22.9vh;
}
.inpComentario{
  background-color: #ffffff;
  border: transparent;

  position: relative;
  width: 40vh;
  height: 2vh;
  top: -20vh;
  left: 23.5vh;
  border-radius: 5px;
  color: #9E9D9D;
}

.inpComentario:hover{ 
  transition: 0.1s;
  width: 40.46vh;
  height: 2.46vh;
}


.inpComentario::placeholder{
  color: #9E9D9D;
  font-size: 1.6vh;

}
/*-------------------------------------CORPO FIM------------------------------*/

/*----------------------------------FOOTER COMEÇO--------------------------*/
.container{
  display: flex; 
  width: 100%;
  background-color: black;
  color: aliceblue;
  font-size: 20px;
  
}

ul:not(.nav-list){
  list-style: none;
  padding: 50px;
}


ul li a {
  
  color: white;
  font-size: 2vh;
  text-decoration: none;
  margin-right: 5vh;
}

ul li a:hover {
  color: #338BB0;
}

.xd {
  color: #717171;
}

.item4 img {
  width: 40px;
}

.item4 ul li {
  display: inline-block;
  margin: 2px;
}

.logoFooter{  
  font-size: 24px;
  letter-spacing: 2px;

}

.logoFooter:hover{
color: #52c7a6;
transition: 0.3s;
cursor: pointer;
}

.inpFiltro{
  justify-content: center;
  align-items: center;
  width: 80vh;
  height: 30px;
  font-size: 2.5vh; 
  text-align: center;
  border-radius: 10px;
  border: 2px solid #ffffff;
  background-color: #52C7A6;
  color: white;

}

.inpOrg{
  justify-content: center;
  align-items: center;
  width: 76vh;
  height: 30px;
  font-size: 2.5vh; 
  text-align: center;
  border-radius: 10px;
  border: 2px solid #ffffff;
  background-color: #52C7A6;
  color: white;

}

.inpOrg::placeholder{
  color: #ffffff;
}

.inpFiltro::placeholder{
  color: white;
}
.acompanhar{
  display: flex;
  justify-content: center;
 
}
.h1acompanhar{
  text-align: center;
  color: white;
  width: 60vh;
  height: 5vh;
  border-radius: 10px;
  margin: 200px;
  background-color: #338BB0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
  font-size: 3vh;
}

.h1acompanhar:hover{
  color: #c5c9d1;
  transition: 0.2s;
}

.filtrar{
  color: black;
  width: 100vh;
  height: 40vh;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  position: relative;
  top: -15vh;
  margin: 0 auto;
  
}

.btnFiltrar{
  position: relative;
  border-radius: 1vh;
  font-size: 2.5vh;
  width: 15vh;
  height: 5vh;
  top: 15vh;
  left: 42vh;
  text-align: center;
  border: solid 0.2vh black;
}

.btnFiltrar:hover {
  color: #ffffff;
  background-color: #52C7A6;
  transition: 0.2s;
  width: 20vh;
  height: 6vh;
  left: 40vh;
  font-size: 3vh;
  cursor: pointer;
} 

.h2filtro{
  text-align: center;
  font-size: 3vh;
}

.labelFiltro{
  font-size: 2vh;
  position: relative;
  left: 1vh;

}
.slctFiltro{
  
  font-size: 1.5vh;
  position: relative;
  left: 1vh;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 200px;
  font-family: Arial, sans-serif;
  font-size: 1.5vh;
  color: #333;
}
.slctFiltro option{
  background-color: #fff;
  color: #333;
  padding: 8px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.slct1{
    padding: 1vh;
    font-size: 1.7vh;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    margin-left: 3vh;
}
.slct1 option {
  padding: 1vh;
  background-color: #e7e6e6;
  
}

.organizar{
  margin-left: 3vh;
}

/*----------------------------------FOOTER FIM--------------------------*/

/*----------------------------------ROTA DENUNCIE AQUI----------------------------*/
.labelForm{
  font-size: 2.3vh;
  width: 70vh;
  height: 4vh;
  
}


.btnForm{
  border-radius: 5px;
  border: 1px solid black;
  width: 7vh;
  height: 3vh;
}

.btnForm:hover{
  transition: 0.1s;
  border: 1px solid white;
  color: white;
  background-color: #52C7A6;
  width: 9vh;
  height: 4vh;
  cursor: pointer;
}

.btnImg{
  color: red; /*sapoha so ta indo no texto */
}


.inpForm {
  border: 1px solid black;
  border-radius: 3px;
  width: 20vh;
  height: 2.5vh;
}

.inpForm:hover{
  transition: 0.1s;
  width: 20.4vh;
  height: 2.8vh;
}


.centralizafdp{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.bordinhaDen{
  margin-top: 15vh;
  background-color: #338BB0;
  border-radius: 7px;
  color: white;
  justify-content: center;  
  height: 5vh;

} 


.h1Denuncie{ /* outra rota!!! cuidado com o ctrl f ai parcero */
  color: #ffffff; 
  text-align: center;
  justify-content: center;
  font-size: 4vh;
}

.h1Denuncie:hover{
  color: #c5c9d1;
  transition: 0.2s;
}

.cadastroDen{
  background-color: #ffffff;
  width: 130vh;
  height: 45vh;
  margin: 0 auto;
  margin-top: 5vh;
  border: 1px solid black;
  border-radius: 10px;  
}

.cadastroDen img {
  width: 10vh;
  height: 10vh;
}

.btnForm {
  font-size: 1.5vh;
}




/*--------------------------------------------------------ROTA LOGIN-------------------------------------------*/
.bodi{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #C3D5DD;
 
}
.log1{
  background:#ffffff;
  color: black;
  border-radius: 10px;
  width: 65vh;
  padding: 10vh;
}
.log1 h2{
  margin-bottom: 30px;
  font-size: 5vh;
  color: #000000;
  text-align: center;
}
.log1 .box-user{
  position: relative;
}
.log1 .box-user input{
  width: 100%;
  padding: 10px 0;
  outline: none;
  border: 0;
  background: transparent;
  border-bottom: 1px solid #000000;
  color: #000000;
  font-size: 16px;
  margin-bottom: 30px;
}
.log1 .box-user label{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  color: #2f00ff;
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.log1 .box-user input:valid~label
{
  top: -20px;
  left: 0;
  color: rgb(0, 0, 0);
  font-size: 12px;
}

.for1{
  font-size: 2vh;
  float: right;
}
.butao1{
  padding: 1.5vh;
  text-align: center;
  display: inline-block;
  width: 15vh;
  height: 6vh;
  border-radius: 5px;
  color: black;
  border: 1px solid black;
  background: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 2vh;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 5vh;
  overflow: hidden;

}

.butao1:hover{
  background: #52C7A6;
  border-radius: 5px;
  color: #ffffff;
  width: 16.7vh;
  height: 7vh;
  transition: 0.18s;
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  
}

.linkCadastro{
  color: black;
  float: right;
  transition: 0.1s;
  font-size: 2.5vh;
}

.linkCadastro:hover{
  color: #338BB0;
  font-size: 2.65vh;

}
